@import '../../Styled//variables.scss';

button{
    background-color: $color-third;
    border: 1px solid $color-third;
    border-radius: 10px;
    width: auto;
    height: 35px;
    font-weight: bold;
    color: $color-primary;
    cursor: pointer;
    padding: 5px 29px 5px 29px;
    display: flex;
    align-items: center;       
    justify-content: center; 
    gap: 10px;                 
    transition: all 500ms;
    img{
    width: 20px;
    height: 18px;
    
}
}

button:hover{
    border: 1px solid $color-third;
    -webkit-box-shadow:0px 0px 20px 2px rgba(255,68,5,0.42);
    -moz-box-shadow: 0px 0px 20px 2px rgba(255,68,5,0.42);
    box-shadow: 0px 0px 20px 2px rgba(255,68,5,0.42);
    transition: all 500ms;
}
