@import '../../Styled/variables.scss';

.Presenca{
   width: 100%;
   height: 120vh;
   background-color: $color-backgroud;
   text-align: center;
   display: flex;
   flex-direction: column;
   gap:50px;
  
}

.label-preseca{
   label{
      display:flex;
      margin-left: 22px;
      padding: 10px;
      font-size: 14px;
      color: #FFFFFF;
   }
}
.Presenca form{
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.Presenca fieldset{
   width: 50%;
   height: 75vh;
   padding-top: 20px;
   border-radius: 12px;
   background-color: $color-backgroud-form;
   border: 1px solid $color-background-card;
}



.numPessoas{
   width: 90%;
   background-color: $color-backgroud-select;
   height: 35px;
   border-radius: 10px;
   color: $color-border-form;
}

.Presenca input{
   height: 40px;
   border-radius: 10px;
   border: $color-border-form 1px solid;
   background-color: $color-backgroud;
   
   
}

#name, #email, #fantasia::-webkit-input-placeholder{
    color: $color-form;
    
}

#name, #email, #fantasia{
   color: $color-form;
   padding: 10px;
   font-size: 14px;
}

.Presenca textarea{
   border: $color-border-form 1px solid;
   background-color: $color-backgroud;
   border-radius: 10px;
   color: $color-form;
   padding: 10px;
   font-size: 14px;
   margin-bottom: 25px;
}

.enviar{
   
    width: 48em;
   color: $color-primary;
}
