@import '../../Styled/variables.scss';

.Fantasias {
  width: 100%;
  height: 100vh;
  background: linear-gradient(360deg, rgba(24, 22, 22, 1) 33%, rgba(64, 38, 89, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  text-align: center;

  .text-fantasia {
    width: 43%;
    font-size: 20px;
    color: $color-text-secondary;
  }
}

.card-fantasia {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 52px;

  .flip-card {
    width: 169px;
    height: 170px;
    perspective: 1000px;
    cursor: pointer;
  }

  .flip-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform .8s;
    transform-style: preserve-3d;
  }

  .flip-card-inner.flipped {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Frente */
  .flip-card-front {
    background-color: $color-background-card;

    img {
      width: 60px;
      height: 60px;
    }
  }

  /* Verso */
  .flip-card-back {
    background-color: $color-background-card-fantasia;
    border: solid 1px $color-border;
    -webkit-box-shadow:0px 0px 20px 2px rgba(255,68,5,0.42);
-moz-box-shadow: 0px 0px 20px 2px rgba(255,68,5,0.42);
box-shadow: 0px 0px 20px 2px rgba(255,68,5,0.42);
    transform: rotateY(180deg);
    flex-direction: column;
    text-align: center;
    padding: 10px;
    gap: 8px;

    h4 {
      color: $color-primary;
    }

    p {
      width: 80%;
      font-size: 14px;
      color: $color-text-secondary;
    }
  }
}

article {
  width: 90%;
  height: 206px;
  background-color: $color-background-card-fantasia;
  border: 1px solid $color-border;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  h3 {
    color: $color-third;
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }
}
