@import '../../Styled/variables.scss';

.background-party{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(to top, rgba(24, 22, 22, 1) 10%, rgba(255,255,255,0.1)), url('../../assets/images/hallowen.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

.party-text{
    min-height: 60vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 4em;

    h1{
        font-size: 80px;
    }

    h2{
        font-size: 50px;
        color: $color-primary;
    }

    p{
       
        font-size: 25px;
    }
}


.logo{
   
    width: 70px;
    
    img{
        width: 50px;
        height: auto;
        position: relative;
        top: 40px;
        left: 40px;
        }
}

.Fantasma{
    width: 40px;
     height: auto;
     position: relative;
    top:5em;
     right: 35em;
    filter: brightness(15%) saturate(0);
}

.Morcego{
     width: 40px;
     height: auto;
     position: relative;
     left: 32em;
}

.button{
    width: 35%;
    display: flex;
}