@import '../../Styled//variables.scss';

footer{
    background: $color-backgroud;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    border-top:1px solid $color-border-form ;
    font-size: 16px;
}