
$color-background-h1: linear-gradient(90deg,rgba(240, 110, 66, 1) 19%, rgba(115, 46, 184, 1) 100%);
$color-background-h2:  linear-gradient(90deg,rgba(240, 110, 66, 1) 33%, rgba(115, 46, 184, 1) 63%);

$color-primary: #FFFFFF;
$color-text-secondary: #BEB4A7;
$color-third: #ff4405be;
$color-form:#999999;



$color-background-card:#322D2A80;
$color-background-card-fantasia: #211E1C80;
$color-border:#ff4405c4;
$color-border-form:#000000;
$color-backgroud:#181616;
$color-backgroud-form:#211E1C;
$color-backgroud-select:#D9D9D9;