@import '../../Styled/variables.scss';

.Datas{
    width: 100%;
    height: 60vh;
    background: #181616;
    background: linear-gradient(180deg,rgba(24, 22, 22, 1) 56%, rgba(64, 38, 89, 1) 100%);
    
    h3{
        color: $color-primary;
        font-size: 19px;
    }

    h2{
        margin-bottom: 80px;
    }

    p{
        
        font-size: 13px;
    }
}



.info{
    
    display: flex;
    justify-content: space-around;
   
    

    div{
        width: 259px;
        height: 194px;
        background-color: $color-background-card;
        border: solid 1px $color-third;
        border-radius: 12px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:10px;
        transition: all 0.5s;
    }

    img{
        width: 20px;
        margin-bottom: 20px;
    }
}

.info div:hover{
    border: 1px solid $color-third;
    -webkit-box-shadow:0px 0px 20px 2px rgba(255,68,5,0.42);
-moz-box-shadow: 0px 0px 20px 2px rgba(255,68,5,0.42);
box-shadow: 0px 0px 20px 2px rgba(255,68,5,0.42);
transition: all 0.5s;
}